.DS_Store
naken_asm
.txt
.venv
*.lock
*.lock~

treadmill-backups/*
control/protocol/serial

# radare2
.r2project
.cache

# KiCad
*auto_saved_files*
*.lck
*.zip

# uCsim
sim/ucsim

# GIMP pcb stackup (too big for version control)
*.xcf

# OpenOCD USB pcapng debug
debug/
